.toolbar{
  width:  100%;
}

.spacer {
  flex: 1 1 auto;
}

.iniciar-sesion {
  font-size: x-large;
  -webkit-box-shadow: inset 0px 0px 6px 2px #D4AC2B;
  box-shadow: inset 0px 0px 6px 2px #D4AC2B;
  background-color: #FFCE45;
  color: #2c2c2d;
}

.usuario{
  font-size: large;
}

.user-avatar {
  max-height: 50px;
  border-radius: 6px;
}


.home:hover{
  cursor: pointer;
}

.container{
  min-height: 550px;
}

.footer {
  position: relative;
  display: flex;
  background-color: #7bb4f1;
  justify-content: space-between;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
}

.links .links-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.links .links-ul li:hover{
  cursor: pointer;
  color: #b2c7ee;
}

.footer .help{
}



@media only screen and (max-width: 600px){
  .iniciar-sesion{
    font-size: medium;
  }
}
