

.container-flex-form{
  display: flex;
  flex-wrap: wrap;

}

.input{
  margin: 5px;
}


.flex-grow-1 {
  flex-grow: 1;
}


.flex-grow-2 {
  flex-grow: 3;
}

.boton-agregar-punto, .boton-submit{
  width: 100%;
}


.boton-submit{
  font-size: x-large;
}

.boton-submit:hover{
  background-color: #9fc9f3;
}



