


$lightblue-palette:(
  50: #e7f2fb,
  100: #c4ddf6,
  200: #9fc9f3,
  300: #7bb4f1,
  400: #63a4ef,
  500: #5296ed,
  600: #4d87df,
  700: #4775cc,
  800: #4064b9,
  900: #36469a,
  contrast:(
    50: #2c2c2d,
    100: #2c2c2d,
    200: #2c2c2d,
    300: #2c2c2d,
    400: #2c2c2d,
    500: #2c2c2d,
    600: #2c2c2d,
    700: #2c2c2d,
    800: #2c2c2d,
    900: #2c2c2d,
  )
);

$accent-palette:(
  50: #2c2c2d,
  100: #2c2c2d,
  200: #2c2c2d,
  300: #2c2c2d,
  400: #2c2c2d,
  500: #2c2c2d,
  600: #2c2c2d,
  700: #2c2c2d,
  800: #2c2c2d,
  900: #2c2c2d,

  contrast:(
    50: #c4ddf6,
    100: #c4ddf6,
    200: #c4ddf6,
    300: #c4ddf6,
    400: #c4ddf6,
    500: #c4ddf6,
    600: #c4ddf6,
    700: #c4ddf6,
    800: #c4ddf6,
    900: #c4ddf6,
  )

);
